# Created by https://www.gitignore.io/api/cmake
# Edit at https://www.gitignore.io/?templates=cmake

### CMake ###
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
.vscode
othello
SDL2-2.0.8
SDL2_net-2.0.1
*.exe
*.dll
*.vcxproj.*
*.sln
.vs/
x64/
# End of https://www.gitignore.io/api/cmake
/Graphic.cpp.bak
/Graphic.h.bak
/main.cpp.bak
/net.cpp.bak
/SDL2-2.0.9
/Debug
/out/
